
.tableView {
  border-style: solid;
  border-color: lightgray;
  height: 210px;
  margin-top: 20px;
  position:relative;
}

.wm {
  font-size: 12em;
  color: grey;
  
  position:absolute;
  margin-left: 135px;
  top: 95px;
  opacity: 0.28  
}

.rep {
  position:relative;
}

a.right {
  float: right;
}

.qtable input {
  width: 40px;
}

.qtable {
  margin-top: 30px;
  height: 350px;
}

.participantTextArea {
  width: 940px;
}

#prev {
  float: right;
}

#next {
  float: right;
  margin-left: 15px;
  margin-right: 330px;
}

.modal {
  width: 600px;
  height: 700px;
  top: 380px; /*left: 60%;*/
  left: 800px;
}