@()
<html>
  <head>
    <meta charset="utf-8">

    @css("bootstrap.css")
    @css("style.css")
    @templates()

  <body>
    <div class='container'>
     <h1>Conférence: Arthrite rhumatoïde</h1>

      <ul class="nav nav-tabs">
        <li class="active"><a href="#sceance1" data-toggle="tab">Question 1</a></li>
        <li><a href="#sceance2" data-toggle="tab">Question 2</a></li>
        <li><a href="#sceance3" data-toggle="tab">Question 3</a></li>
      </ul>

      <div class="tab-content">
        @scance(1, "active")
        @scance(2)
        @scance(3)
      </div>
    </div>
  </body>
  
  @js("jquery-1.7.2.js")
  @js("underscore.js")
  @js("bootstrap.min.js")
  @js("backbone.js")
  @js("handlebars-1.0.0.beta.6.js")
  @js("handlebarsHelpers.js")  
  @js("speaker.js")  
</html>

@table(sceanceId: Int, label: String, leftOrRight: String = "left") = {
  <div class='span5 tableView'>
   <a class='btnz btn @leftOrRight a-@sceanceId-@label' sceanceId='@sceanceId' tableId='@label'>@label</a>
   <div class='rep' id='@sceanceId-@label'></div>
   <div class='wm'>@label</div>
  </div>
}

@tableIcon(label: String) = {
  <div class='span2'>
    <a class='btn btn-primary'>@label</a>
  </div>
}

@scance(sceanceId: Int, active: String = "") = {
  <div class='tab-pane @active' id="sceance@sceanceId">
      <div class='row'>
        @table(sceanceId, "A")
        @table(sceanceId, "B","right")
      </div>
      <div class='row'>
        @table(sceanceId, "C")
        @table(sceanceId, "D","right")
      </div>
  
      <div class='row'>
        @table(sceanceId, "E")
      </div>  
  </div>
}
