@(tableId: String)
<html>
  <head>
    <meta charset="utf-8">

    @css("bootstrap.css")
    @css("style.css")
    @templates()
  <body>
    <div class='container'>

      <h1>Table @tableId</h1>

      <b>Participants</b>: Jean Pierre Fisette, Raoul Espinoza, Lise Brisebois <br>
   <div id='qpan'>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#sceance1" data-toggle="tab">Question 1</a></li>
        <li><a href="#sceance2" data-toggle="tab">Question 2</a></li>
        <li><a href="#sceance3" data-toggle="tab">Question 3</a></li>
      </ul>

      <div class="tab-content">
        @scance(1, "active")
        @scance(2)
        @scance(3)
      </div>
   </div>
      
      <a id='termine' class='btn'>Terminé</a>
      
      <div id='qbox'>
      </div>

    </body>
  
  @js("jquery-1.7.2.js")
  @js("underscore.js")
  @js("bootstrap.min.js")
  @js("backbone.js")
  @js("handlebars-1.0.0.beta.6.js")
  @js("handlebarsHelpers.js")
  @js("participant.js")
  
  <script>init('@tableId')</script>  
</html>


@scance(sceanceId: Int, active: String = "") = {
  <div class='tab-pane @active' id="sceance@sceanceId">
      <h5>Rédiger votre diagnostique sur ce cas, ou des questions additionnelles si vous jugez ne pas avoir suffisament d'information.</h5>
      <textarea class='participantTextArea' id='a-textBox@sceanceId' cols='50' rows='7'></textarea>
      <h5>Quelle est la justification de votre réponse précédente ?</h5>
      <textarea class='participantTextArea' id='r-textBox@sceanceId' cols='50' rows='7'></textarea>
  </div>
}